.header {
    
    text-align: center;
    background-color: aqua;
    height: 100px;
    padding-top: 30px; 
}

.contenu {

    text-align: center;
    background-color: orange;
    height: 673px;
    padding-top: 0px;
    padding-right: 853px;
    padding-left: 853px;
    display: table-cell; 
    vertical-align: middle;
}

.menu {

    text-align: center;
    background-color: purple;
    height: 673px;
    padding-top: 20px;
    padding-right: 0px;
    display: table-cell; 
    vertical-align: middle;
}

.footer {

    text-align: center;
    background-color: palegreen;
    height: 100px;
    padding-top: 30px;

}